@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.container {
    background: rgba(255, 144, 14, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 80px;
}

.nav-tittle a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #131313;
}

.nav-iteams {
    display: flex;
    list-style: none;
}

.nav-iteams li a {
    color: #424242;
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Banner section start */

.banner-container {
    text-align: center;
    margin: 50px 0;
}

.banner-container h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner-container p {
    color: #727272;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin: 30px 0;
    font-family: 'Work Sans', sans-serif;
}

.banner-button button {
    color: #ffff;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 15px 25px;

}

.image-container img {
    /* padding: 50px;
    margin: 0 auto;
    height: 500px; */
}

.image {
    padding: 50px;
    margin: 0 auto;
    height: 500px;
    width: 90%;

}

.images-container {
    display: flex;
    width: 100%;
}

.images-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5px;
    padding: 50px;
}

.images {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.images-tittle {
    margin-top: 250px;
    padding: 43px;
}

.images-tittle h1 {
    font-size: 35px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quick-list1 {
    color: #727272;
}

.quick-list2 {
    color: #131313;
}

.quick-list3 {
    color: #FF900E;
}

.images-tittle p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 20px 0;
    font-family: 'Work Sans', sans-serif;
}

.images-tittle button {
    color: #ffff;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 15px 25px;
}

/* Features you will love & enjoy */
.features-container {
    display: flex;
    padding: 0 50px;
}

.features-tittle {
    /* padding: 20px; */
    margin-top: 80px;
}

.features-first-tittle h1 {
    color: #131313;
    font-size: 40px;
    border-left: 3px solid #FF900E;
    padding-left: 25px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.features-first-tittle p {
    color: #727272;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0;
    font-family: 'Work Sans';
}

.features-second-tittle {
    background-color: #ffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 120px;
    padding: 30px;
}

.features-second-tittle h3 {
    font-size: 20px;
    color: #131313;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.features-second-tittle p {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.features-three-tittle {
    background-color: #ffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 120px;
    padding: 30px;
    margin: 15px 0;
}

.features-three-tittle h3 {
    font-size: 20px;
    color: #131313;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.features-three-tittle p {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.features-four-tittle {
    background-color: #ffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 120px;
    padding: 30px;
}

.features-four-tittle h3 {
    font-size: 20px;
    color: #131313;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.features-four-tittle p {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.features-five-tittle {
    background-color: #ffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 120px;
    padding: 30px;
    margin: 15px 0;
}

.features-five-tittle h3 {
    font-size: 20px;
    color: #131313;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.features-five-tittle p {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.features-image {
    width: 50%;
    padding: 50px;
    margin: 0 auto;
}

.features-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.features-btn button {
    color: #ffff;
    border: none;
    font-size: 35px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    text-align: center;
    background-color: #FF900E;
    padding: 25px 35px;
}

.features-btn-span {
    font-size: 15px;
}